.custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red; /* cor do mouse */
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
  }
  