<div class="container_menu-bar">
<hr/>
<h1>BLOG ONLINE THAIS SOUTO</h1>
<hr/>

<div class="slide-principal_photo">
    <img src="https://static.vecteezy.com/system/resources/previews/007/641/069/large_2x/recife-pernambuco-brazil-apr-2022-aerial-view-of-the-marco-zero-park-free-photo.jpg" 
    alt="" 
    height="650px"
    width="1050px"
    srcset=""
    >
    <div class="container_menu-bar">
        <h1>Esse é um blog feito com muito carinho</h1>
        <p> Estou aprendendo Angular com o curso do DIO  </p>
        <div>
</div>


</div>

